{{ toolBar }}
{{ topBar }}
{# {% include './control-bar.twig' %} #}
{# {% include './toolbar.twig' %} #}
{# {% include './extra-sidebar.twig' %} #}
<div class="dialog-off-canvas-main-canvas">
  canvas content
</div>